/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 900px;

  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Litir */
  --color-gold: #ffe7ae;
  --color-gold-light: #fff1cf;
  --color-dark: #2f0505;
  --color-light: #fff9ee;

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Noto Sans Display", Helvetica, Arial, sans-serif;
  --font-family-heading: "Lora", Georgia, serif;
}

@font-face {
  font-family: "Lora";
  src: url("fonts/Lora/static/Lora-Bold.ttf");
}
@font-face {
  font-family: "Noto Sans Display";
  src: url("fonts/Noto_Sans_Display/static/NotoSansDisplay-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Noto Sans Display";
  src: url("fonts/Noto_Sans_Display/static/NotoSansDisplay-Bold.ttf");
  font-weight: bold;
}
html,
input,
select,
button {
  font-size: var(--font-base-size);
  font-family: var(--font-family-base);
}
body {
  font-family: var(--font-family-base);
  font-weight: normal;
}
h1,
h2,
h3 {
  margin-bottom: var(--spacing);
  font-family: var(--font-family-heading);
  font-weight: bold;
}
p {
  margin-bottom: var(--spacing);
}
a {
  color: inherit;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  display: block;
  width: 100%;
  padding: var(--spacing);
  background-color: var(--color-dark);
  color: var(--color-light);
  text-align: center;

  /* Nav */
}
.nav {
  padding: var(--spacing);
  background-color: var(--color-light);
  color: var(--color-dark);
  border-bottom: var(--border-large) solid var(--color-gold);
  margin-bottom: var(--spacing);
}
.nav ul {
  text-align: center;
  list-style: none;
}
.nav ul li {
  display: inline;
  padding: 0 0.5rem;
}
/* Main */
.main {
  padding: var(--spacing);
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}
.cards h3 {
  margin-bottom: 0px;
}
.cards a {
  font-family: var(--font-family-base);
  font-weight: bold;
}
.cards hr {
  border: var(--border-small) solid var(--color-dark);
  margin-top: 0;
}
dt {
  font-family: var(--font-family-base);
  font-weight: bold;
}
dd {
  margin-bottom: var(--spacing);
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main .content .flexrow {
  display: flex;
  width: 100%;
}
.main .content .flexrow .cards {
  width: 50%;
  margin: var(--spacing);
  background-color: var(--color-gold-light);
  padding: var(--spacing);
  border-radius: var(--border-radius);
  list-style: none;
}
div.cards {
  display: flex;
  flex-direction: column;
}
.cards .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
/* Ljós borði */
hr {
  border: var(--border-small) solid var(--color-gold);
  margin: var(--spacing) 0;
}
/* Matseðill - tafla */
table {
  border-collapse: collapse;
  height: 400px;
  margin-bottom: var(--spacing);
}
table tbody tr:nth-child(odd) {
  background-color: var(--color-gold);
  line-height: 2rem;
}
/* Pöntunarsíða */
form {
  width: 100%;
  max-width: 900px;
}
form legend {
  font-family: "Lora", serif;
  font-weight: 700;
}
form fieldset {
  background-color: var(--color-gold-light);
  border: var(--border-small) solid var(--color-dark);
  padding: 0.5rem;
  border-radius: var(--border-radius);
  line-height: 2rem;
}
form label,
input,
select {
  display: block;
}
form input,
checkbox {
  padding: 0 0.5rem;
}
/* Um */
img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}
/* Footer */
footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-top: var(--border-large) solid var(--color-gold);
}
footer .content {
  display: flex;
  width: 100%;
  max-width: 900px;
  padding: var(--spacing);
  margin: 0 auto;
  text-align: center;
}
footer .content .flexrow {
  display: flex;
  width: 100%;
}
footer .content .cards {
  width: 50%;
}
